@import "config";

%btn {
  background-color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-project {
  @extend %btn;
  //   background-color: white;
  color: black;
  border: 2px solid #555555;
  &:hover {
    // background-color: #555555;
    // color: white;
    @include set-background(lighten($button-hover-color2, 10));
  }
}
