.contacts {
  margin-top: 50px;
}
.contactDetails {
  float: right;
  width: 60%;
  margin-top: 100px;
}
.contactDetails Img {
  padding: 30px;
  width: 150px;
  height: 150px;
}
.contactImage Img {
  float: left;
  margin-left: 50px;
  width: 400px;
  height: 400px;
}
