@import "config";

header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
nav {
  ul {
    li {
      display: inline-block;
      list-style: none;
      margin: 10px 20px;
    }
  }
  a {
    text-decoration: none;
    color: $nav_textcolor;
    font-size: 23px;
    &:hover {
      color: $nav_hover;
      font-weight: bolder;
    }
  }
}
