@import "config";
.skills {
  display: flex;
  margin-top: 50px;
}
.skillsImageCard img {
  float: left;
  width: 400px;
  height: 400px;
}
.skillsLangCard {
  width: 60%;
}
.skillsLangCard img {
  float: right;
  width: 100px;
  height: 100px;
  margin: 20px;
}
