@import "config";
.container {
  padding: 20px 30px;
}
/* header {
  position: sticky;
  top: 0;
} */

.logoname {
  width: 240px;
}

p {
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: #778088;
}
